<!-- templates/base.html -->
<!DOCTYPE html>
<html>
	<head>
		<title>{%block title%}{% endblock %} - Commute Pollute</title>
		{%block head_stuff%}
		{% endblock %}
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="{{ url_for('static', filename='assets/css/main.css') }}" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="logo"><a href="/">Commute Pollute</a></div>
				
				{% if current_user.is_authenticated %}
					<span>Hi {{current_user.username}}</span>
				{% endif %}
				<a href="#menu">Menu</a>
			</header>

		<!-- Nav -->
			<nav id="menu">
				<ul class="links">
					<li><a href="/">Home</a></li>
					<li><a href="{{url_for('views.map')}}">Map</a></li>
					<li><a href="{{url_for('views.setup')}}">Setup</a></li>
					{% if not current_user.is_authenticated %}
					<li><a href="{{url_for('auth.login')}}">Log In</a></li>
					<li><a href="{{url_for('auth.signup')}}">Signup</a></li>
					{% endif %}
					{% if current_user.is_authenticated %}
					<li><a href="{{url_for('views.sensors')}}">Sensors</a></li>
					<li><a href="{{url_for('auth.logout')}}">Log Out</a></li>
					{% endif %}
				</ul>
			</nav>
		{% block content %}
		{% endblock %}
		
			<footer id="footer">
				<div class="copyright">
					<p>&copy; Pollute Commute. All rights reserved. Design: <a href="https://templated.co">TEMPLATED</a>.</p>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="{{ url_for('static', filename='assets/js/jquery.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrolly.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/jquery.scrollex.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/skel.min.js') }}"></script>
			<script src="{{ url_for('static', filename='assets/js/util.js')}}"></script>
			<script src="{{ url_for('static', filename='assets/js/main.js')}}"></script>
			{%block footer_scripts%}
			{%endblock%}

	</body>
</html>
