{% extends "base.html" %}
{% block title%}Index{% endblock %}

{% block content %}
		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
                            <header class="align-center">
                                <h1>Commute Pollution</h1>
                            </header>
                            <div class="flex flex-2">
                                <div class="col col2">
                                    <p>
                                        Everytime you leave for work you expose yourself to a lot of Pollution, most of it is unseen.
                                    </p>
                                </div>
                            </div>
                            <div class="flex flex2">
                                <div class="col col2 align-center">
                                    <ul class="actions fit">
                                        {% if not current_user.is_authenticated %}
                                        <li><a href="{{url_for('auth.login')}}" class="button fit">Login</a></li>
                                        <li><a href="{{url_for('auth.signup')}}" class="button fit">Sign Up</a></li>
                                        {% endif %}
                                        {% if current_user.is_authenticated %}
					                    <li><a href="{{url_for('views.sensors')}}" class="button fit">Sensors</a></li>
					                    <li><a href="{{url_for('auth.logout')}}" class="button fit">Log Out</a></li>
					                    {% endif %}
                                    </ul>
                                </div>
                                <div class="col col2 align-center">
                                    <ul class="actions fit">
                                        <li><a href="{{url_for('views.setup')}}" class="button fit">Setup Guide</a></li>
                                        <li><a href="{{url_for('views.map')}}" class="button fit">Map</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </section>
            </div>
{% endblock %}