{% extends "base.html" %}
{% block title%}Index{% endblock %}

{% block content %}
		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
                            <header class="align-center">
                                <h1>Commute Pollution</h1>
                            </header>
                            <div class="flex flex-2">
                                <div class="col col2">
                                    <p>
                                        Everytime you leave for work you expose yourself to a lot of Pollution, most of it is unseen.
                                    </p>
                                    <p>
                                        <a href="{{url_for('auth.login')}}" class="button fit">Login</a>
                                        <a href="{{url_for('auth.signup')}}" class="button fit">Sign Up</a>
                                        <a href="{{url_for('views.map')}}" class="button fit">map</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </section>
            </div>
{% endblock %}