{% extends "base.html" %}
{% block title%}Map{% endblock %}
{% block head_stuff%}
<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">
<link rel="stylesheet" href="/static/css/leaflet.awesome-markers.css">
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
   <script src="/static/js/leaflet.awesome-markers.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div id="main">

    <!-- Section -->
        <section class="wrapper style1">
            <div class="inner">
                <div id="map" style="width: 100%; height: 400px;"></div><br>
                <div class="chart-container" style="height:400px; width:100%">
                    <canvas id="DataChart"></canvas>
                </div>
                
            </div>
        </section>
</div>
<script>
    /*
    percent to gradient code modified from this stack overflow question: https://stackoverflow.com/a/30144587
    Thank You Felipe Ribeiro
    */
function pmtoColour(pm) {
    var color2 = [255, 0, 0];
    var color1 = [0, 255, 0];
    var p = (pm/25.0);
    console.log(pm);
    console.log(p);
    var w = p * 2 - 1;
    var w1 = (w/1+1) / 2;
    var w2 = 1 - w1;
    var rgb = [Math.round(color1[0] * w1 + color2[0] * w2),
        Math.round(color1[1] * w1 + color2[1] * w2),
        Math.round(color1[2] * w1 + color2[2] * w2)];
    return rgb;
}


var startpost = new Array
var Markers = new Array;
console.log(startpost)
var map = L.map('map',{worldCopyJump:true}).setView([0,0], 7);
function setPos(pos){
    position = [pos.coords.latitude, pos.coords.longitude];
    map.setView(position, 13);
}

var ctx = document.getElementById('DataChart');
const graphOptions = {scales: {xAxes: [{type: 'time' ,distribution: 'series',  time: {unit: 'day', displayFormats: {'day': 'HH:MM DD/MM/YYYY'}}}]}};
var lineChart=new Chart(ctx, {type: 'scatter',
    data: {datasets:[{label: "Sensors In View", data:[]}]},
    options: graphOptions
});

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);
map.on('zoomend', updateSensors);
map.on('moveend', updateSensors);



function updateSensors(ev){
    Markers.forEach(mark => {map.removeLayer(mark);});
    lineChart.destroy();
    Markers = new Array;
    var bounds = map.getBounds();
    var markeri=0;
    var request = {"bottom": { "lat": bounds._northEast.lat, "lng": bounds._northEast.lng }, "top": { "lat": bounds._southWest.lat, "lng": bounds._southWest.lng } }
    fetch('/api/GetSensorInBounds', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json;charset=utf-8'
        },
        body: JSON.stringify(request)
    }).then(response => response.json()).then((myJson) => {
        console.log(myJson)
        var Newdata = new Array;
        for (const record of myJson){
            var pmMarker = L.AwesomeMarkers.icon({
                                                    icon: 'cloud',
                                                    markerColor: 'rgb('+pmtoColour(record.pm25).join()+')'});
            var LamMarker = new L.marker([record.lat, record.lng], {icon:pmMarker});
            var GraphData = {x: new Date(record.datetime), y: record.pm25}
            Newdata.push(GraphData)
            
            LamMarker.bindPopup("<b style='text-align: center;'>"+record.datetime+"</b><br><b>PM2.5</b>"+record.pm25);
            
            Markers.push(LamMarker);
            map.addLayer(LamMarker);
            markeri+=1;
        }
        var ctx = document.getElementById('DataChart');
        lineChart=new Chart(ctx, {type: 'scatter',
        data: {labels:["pm2.5 pollution"], datasets:[{label: "Sensors In View", showLine: true, data: Newdata}]},options: graphOptions
        });
    });
}

navigator.geolocation.getCurrentPosition(setPos);

</script>
{% endblock %}
{% block footer_scripts %}
{% endblock %}
