{% extends "base.html" %}
{% block title%}Map{% endblock %}
{% block head_stuff%}
<link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
crossorigin=""/>
<script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
   integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
   crossorigin=""></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js" integrity="sha256-R4pqcOYV8lt7snxMQO/HSbVCFRPMdrhAFMH+vr9giYI=" crossorigin="anonymous"></script>
{% endblock %}

{% block content %}
<div id="main">

    <!-- Section -->
        <section class="wrapper style1">
            <div class="inner">
                <div id="map" style="width: 100%; height: 400px;"></div><br>
                <canvas id="DataChart" width="100%" height="400"></canvas>
            </div>
        </section>
</div>
<script>
var startpost = new Array
var Markers = new Array;
console.log(startpost)
var map = L.map('map',{worldCopyJump:true}).setView([0,0], 7);
function setPos(pos){
    position = [pos.coords.latitude, pos.coords.longitude];
    map.setView(position, 13);
}

var ctx = document.getElementById('DataChart');
var lineChart=new Chart(ctx, {type: 'line',
    data: {labels:["pm2.5 pollution"], data:[]}
     });

function addData(chart, label, data) {
    chart.data.labels.push(label);
    chart.data.datasets.forEach((dataset) => {
        dataset.data.push(data);
    });
    chart.update();
}

function removeData(chart) {
    chart.data.labels.pop();
    chart.data.datasets.forEach((dataset) => {
        dataset.data.pop();
    });
    chart.update();
}

L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
    attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
}).addTo(map);
map.on('zoomend', updateSensors);
map.on('moveend', updateSensors);



function updateSensors(ev){
    Markers.forEach(mark => {map.removeLayer(mark);});
    Markers = new Array;
    var bounds = map.getBounds();
    var markeri=0;
    var request = {"bottom": { "lat": bounds._northEast.lat, "lng": bounds._northEast.lng }, "top": { "lat": bounds._southWest.lat, "lng": bounds._southWest.lng } }
    fetch('/api/GetSensorInBounds', {
        method: 'POST',
        headers: {
            'Content-Type': 'application/json;charset=utf-8'
        },
        body: JSON.stringify(request)
    }).then(response => response.json()).then((myJson) => {
        console.log(myJson)
        var data = new Array;
        for (const record of myJson){
            var LamMarker = new L.marker([record.lat, record.lng]);
            var GraphData = {x: record.datetime, y: record.pm25}
            data.push(GraphData)
            
            LamMarker.bindPopup("<b style='text-align: center;'>"+record.datetime+"</b><br><b>PM2.5</b>"+record.pm25);
            
            Markers.push(LamMarker);
            map.addLayer(LamMarker);
            markeri+=1;
        }
        removeData(lineChart);
        addData(lineChart, "Pollution in map", data);
    });
}

navigator.geolocation.getCurrentPosition(setPos);

</script>
{% endblock %}
{% block footer_scripts %}
{% endblock %}
