{% extends "base.html" %}
{% block title%}Sensors{% endblock %}

{% block content %}
		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
                            <header class="align-center">
                                <h1>{{current_user.username}}'s sensors</h1>
                            </header>
                            <div class="flex flex-2">
                                <div class="col col2">
                                    <p>
                                        To the left is the details you will need to input into the device.
                                    </p>
                                    <p>
                                        <b>THE APPLICATION KEY MUST BE KEPT SECRET AND WILL NOT BE AVALIBLE BEYOND THIS PAGE</b>
                                    </p>
                                    <p>
                                        <a href="{{url_for('views.sensors')}}" class="button">Go Back to Sensors</a>
                                    </p>
                                </div>
                                <div class="col col1">
                                    <div class="row uniform">
                                    <ul class="actions">
                                        <li>
                                            <div class="12u 12u$(xsmall)">
                                                <input type="text" name="deveui" id="deveui" value="{{sensorInfo[0]}}" placeholder="Name" />
                                            </div>
                                            <div class="2u 12u$(xsmall)">
                                                <button onclick="copytextBox('deveui')">Copy device EUI</button>
                                            </div>
                                        </li>
                                        <li>
                                            <div class="6u 12u$(xsmall)">
                                                <input type="password" name="appkey" id="appkey" value="{{sensorInfo[1]}}" placeholder="password" />
                                            </div>
                                            <div class="2u 12u$(xsmall)">
                                                <button onclick="copytextBox('appkey')">Copy AppKey</button>
                                            </div>
                                        </li>
                                    </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
            </div>
<script>
function copytextBox(txtboxID) {
  var copyText = document.getElementById(txtboxID);
  copyText.select();
  document.execCommand("copy");
  alert("Copied the text: " + copyText.value);
}
</script>
{% endblock %}