{% extends "base.html" %}
{% block title%}Sign-Up{% endblock %}

{% block content %}
		<!-- Main -->
			<div id="main">

				<!-- Section -->
					<section class="wrapper style1">
						<div class="inner">
                            <header class="align-center">
                                <h1>Sign-Up</h1>
                                {% with messages = get_flashed_messages() %}
                                {% if messages %}
                                <h2>{{ messages[0] }}</h2>
                                {% endif %}
                                {% endwith %}
                            </header>

						<form method="post" action="{{url_for('auth.signup')}}">
                            <div class="row uniform">
                                <div class="6u 12u$(xsmall)">
                                    <input type="text" name="username" id="username" value="" placeholder="Name" />
                                </div>
                                <div class="6u 12u$(xsmall)">
                                    <input type="password" name="password" id="password" value="" placeholder="password" />
                                </div>
                            </div>
                            <div class="row uniform">
                                <div class="12u$">
                                    <input type="submit" value="Sign-Up">
                                </div>
                            </div>
                        </form>
                        </div>
                    </section>
            </div>
{% endblock %}
